# Today concepts
1. Operators
2. Conditional statements
3. Loops

### Operators

1. Arthematic Operators
##    + , - , *, / , // , % , **

In [2]:
a = 10
b = 20
print(a + b)

30

In [3]:
print(a-b)

-10

In [4]:
print(a/b)

0.5

#### // gives coefficient

In [6]:
print(3//2)

1

### % gives remainder

In [7]:
print(3%2)

1

```
4)2(0
  0
 ---
  2
    ```

In [8]:
print(2%4)

2

## ** for  2 power 3

In [11]:
print(2**3)

8

#### Assignment Operators
 = , += ,-= ,*= , /= , //= , %= , **=

In [13]:
a = 10
print(a)

10

#### a += 1 equals to doing a = a + 1

In [14]:
a += 1
print(a)

11

In [15]:
print(a)
a -= 1
print(a)

11
10

#### Comparision operators
 == , != , < , > , <= , >=

In [16]:
n1 = 101
n2 = 0
print(n1 == n2)

False

In [17]:
print(n1)
print(n2)
print(n1 != n2)

101
0
True

In [20]:
print(10 < 3)
print(20 > 3)
print(10 <= 20 )
print(30 >= 30)
print(10>=10)

False
True
True
True
True

#### Logical operators
    and , or , not

In [21]:
print(True and True)

True

In [22]:
print(True and False)
print(False and False)

False
False

### find the largest of given three numbers

## logical operator `or`

In [23]:
print(True or False)

True

In [24]:
print(False or True)
print(False or False)

True
False

#### to view available keywords in python

In [27]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

#### logical operator not

In [28]:
print( not True)

False

In [29]:
print(not False)

True

In [30]:
print(not 2==3)

True

#### Bitwise operators

1. bitwise &
2. bitwise |
3. bitwise not ~
4. bitwise xor ^
5. bitwise left shift <<
6. bitwise right shift >>

### Bitwise and 
    symbol &

In [31]:
4 & 7

4

In [32]:
print(bin(4))
print(bin(7))

0b100
0b111

### covert binary to decimal

In [34]:
int(0b100)

4

### bitwise or 
    symbol |

In [35]:
print(7 | 4)

7

### bitwise not
    symbol ~
    formula  is
        -our_value-1

In [37]:
~6

-7

#### Bitwise xor
    symbol ^

    1 0 0
    0 1 1
res 1 1 1

In [39]:
print(bin(4))
print(bin(3))
print(4 ^ 3)

0b100
0b11
7

### bitwise leftshift <<

### value << no_of_times
multiply value with 2 by given no_of_times

In [42]:
8 << 1

16

In [43]:
8 << 2

32

In [44]:
8 << 3

64

In [45]:
8<<8

2048

In [46]:
4<<3

32

4 = 100

4*2 = 8   --> 1000 -- 8

8*2 = 16   -->00 --- 16

16*2= 32   --> 100000 ---> 32

In [50]:
print(4)
print(bin(4))
print(bin(4 << 2))

4
0b100
0b10000

#### bitwise right shift

In [51]:
print(120 >> 2)

30

In [53]:
151 >> 1

75

In [54]:
151 >> 2

37

#### membership operators 
    - in , not in

In [56]:
name = 'APSSDC'
print('A' in name)
print('a' in name)

True
False

In [57]:
name = 'APSSDC'
print('A' not in name)
print('a' not in name)

False
True

#### identity operators
    is , is not

In [58]:
2 == 3

False

In [59]:
2 is 3

False

In [61]:
2 != 3

True

In [60]:
2 is not 3

True

#### identity operator compares not only value, checks object wise same or not

#### conditional statements
    if , else , elif

## if synatx
if condition :
    statement1
    statement2

In [62]:
a = 10
b = 20
if a < b:
    print('b is large')

b is large

In [69]:
a = 100
b = 20
if a < b:
    print('b is large')
    print('a is smaller')
    print('is it correct indentation?')

In [70]:
a = 10
b = 20
if a > b:
    print("a is big")
else:
        print("b is big")

b is big

##### write a program to take two numbers seperatly from user and print the largest of given two numbers

In [71]:
num1 = int(input("enter number1:"))
num2 = int(input("enter number2:"))
if num1 < num2:
    print(num2,"is larger")
else:
    print(num1,"is larger")

enter number1:10
enter number2:20
20 is larger

In [72]:
num1 = int(input("enter number1:"))
num2 = int(input("enter number2:"))
if num1 < num2:
    print(num2,"is larger")
elif num1 > num2:
    print(num1,"is larger")
else:
    print('both are same',num1)

enter number1:10
enter number2:10
both are same 10

#### find largest of 3 numbers by using if, elif else

In [75]:
first = 70
second = 30
third = 50
if ((first > second) and (first > third)):
    print(first,'large')
elif (second > third):
    print(second,'large')
else:
    print(third,'is large')

70 large

#### Loops 
    for, while

## for loop syntax
for temp_var in collection_of_items:
    statements

In [76]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [77]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [78]:
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [79]:
for num in range(1,11,2):
    print(num)

1
3
5
7
9

In [80]:
for num in range(10,0,-1):
    print(num)

10
9
8
7
6
5
4
3
2
1

### break keyword
it is used to exit from the loop (you can use inside `for` or `while`)

In [81]:
for num in range(10,0,-1):
    if num == 5:
        break
    print(num)

10
9
8
7
6

## continue keyword
continue keyword is used to skip the present iteration and executes next iteration

In [82]:
for num in range(10,0,-1):
    if num == 5:
        continue
    print(num)

10
9
8
7
6
4
3
2
1

### for - else

In [83]:
for i in range(5):
    print(i)
else:
    print("loop iterated successfully")

0
1
2
3
4
loop iterated successfully

In [84]:
for i in range(5):
    print(i)
    break
else:
    print("loop iterated successfully")

0

#### while loop

#### while syntax 
while condition:
    statements

In [89]:
start = 10
while start <= 30:
    print(start)
    start += 1

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

### small task
- print the 2 table upto 10 like below
2 * 1 = 2
2 * 2 = 4
.
.
2 * 10 = 20

In [91]:
t = 2
for i in range(1,11):
    print(t, "*", i, '=', t*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

#### Strings
- string is a collection of characters
-  we are enclosing string with single or double quotes
- string is immutable data type in python

In [92]:
name = "python programming"

In [93]:
name

'python programming'

In [94]:
print(name)

python programming

In [95]:
print(type(name))

<class 'str'>

len(collection)
it will returns the length of given object

In [96]:
len(name)

18

In [97]:
min(name)

' '

In [98]:
max(name)

'y'

In [99]:
name

'python programming'

##### string methods

In [100]:
name.startswith('python')

True

In [102]:
name.startswith('Python')

False

In [103]:
name.endswith('ing')

True

In [104]:
name.endswith('abc')

False

In [106]:
'PYTHON'.lower()

'python'

In [107]:
name

'python programming'

In [108]:
name.upper()

'PYTHON PROGRAMMING'

In [109]:
'python'.islower()

True

In [110]:
'Python'.islower()

False

In [111]:
'PYTHON'.isupper()

True

In [112]:
'Python'.isupper()

False

In [114]:
'python programming'.split()

['python', 'programming']

In [115]:
'python programming'.split('o')

['pyth', 'n pr', 'gramming']

In [116]:
words = ["python","programming"]

In [117]:
'_'.join(words)

'python_programming'

In [118]:
' '.join(words)

'python programming'

In [119]:
'   python   '.lstrip()

'python   '

In [120]:
'   python   '.rstrip()

'   python'

In [121]:
'   python   '.strip()

'python'

In [122]:
number = '123'
number.isdigit()

True

In [123]:
number = '1223abc456'
number.isdigit()

False

In [124]:
a = 'abc'
a.isalpha()

True

In [125]:
a = 'ab4c'
a.isalpha()

False

In [128]:
name = 'uma mahesh'
for c in name:
    print(c,end=' ')

u m a   m a h e s h

### find the count of 'm' in given variable name

In [130]:
count = 0
for c in 'uma Mahesh':
    if 'm' == c.lower():
        count += 1
print('m was occured ', count, 'times')

m was occured  2 times

##### for practice only

#### find the sum of digits in 'abc123abc'
    result 1+2+3 = 6

accessing the characters from string

In [131]:
name = "python"

In [132]:
name[0]

'p'

In [133]:
name[2]

't'

In [134]:
name[20]

IndexError: string index out of range

In [135]:
name[len(name)-1]

'n'

In [136]:
name[-1]

'n'

In [137]:
name[-len(name)]

'p'

#### string slicing

In [138]:
name

'python'

In [139]:
name[1:3]

'yt'

In [141]:
name[0:5:2]

'pto'

In [142]:
name[:5]

'pytho'

In [143]:
name[::2]

'pto'

In [144]:
name[::-1]

'nohtyp'

# data types
- list
- tuple
- dictionary
- set

### List

In [146]:
mylist = []
mylist2 = list()

In [148]:
print(type(mylist),type(mylist2))

<class 'list'> <class 'list'>

In [149]:
len(mylist)

0

In [150]:
marks = [10, 20, 40, 15]

In [151]:
len(marks)

4

In [152]:
marks[0]

10

In [153]:
marks[-1]

15

In [154]:
marks[2] = 100

In [155]:
marks

[10, 20, 100, 15]

In [157]:
mymarks = list((1,2,3))
mymarks

[1, 2, 3]

### list methods

In [158]:
marks = [1,2,5,4]
print(marks)

[1, 2, 5, 4]

In [ ]:
list_obj.append(item)

In [159]:
marks.append(6)
print(marks)

[1, 2, 5, 4, 6]

In [160]:
sub = [7,8]
print(sub)

[7, 8]

In [161]:
marks.append(sub)
print(marks)

[1, 2, 5, 4, 6, [7, 8]]

In [162]:
marks.extend(sub)
print(marks)

[1, 2, 5, 4, 6, [7, 8], 7, 8]

In [163]:
marks.count(5)

1

In [164]:
marks.count(7)

1

In [165]:
marks2 = marks.copy()
print(marks2)

[1, 2, 5, 4, 6, [7, 8], 7, 8]

In [166]:
del marks2[-3]
print(marks2)
print(marks)

[1, 2, 5, 4, 6, 7, 8]
[1, 2, 5, 4, 6, [7, 8], 7, 8]

In [168]:
marks2.clear()
marks2

[]

##### list_obj.insert(index,item)

In [169]:
marks2.insert(0,10)
marks2

[10]

In [170]:
marks2.insert(100,20)
marks2

[10, 20]

In [171]:
marks2.remove(20)
marks2

[10]

In [172]:
marks2.remove(100)
marks2

ValueError: list.remove(x): x not in list