#### Today topics
    - list remaining methods
    - tuples
    - sets
    - dictionary
    - functions
    - list and dictionary comprehension
    - regular Expressions

##### write program to create new list from existing list without using copy method

In [1]:
marks = [10,20,30,40,15]
marks2 = []
# implement your logic here

marks2 = list(marks)

print(marks2)#[10,20,30,40,15]

[]

In [3]:
marks2 = [4,8,3,9,2]
marks2

[4, 8, 3, 9, 2]

pop(index)

In [4]:
marks2.pop()
marks2

[4, 8, 3, 9]

In [5]:
marks2.pop(2)
marks2

[4, 8, 9]

In [7]:
marks = [5,2,8,4,6]
marks

[5, 2, 8, 4, 6]

In [8]:
marks.reverse()
marks

[6, 4, 8, 2, 5]

In [9]:
marks.sort()
marks

[2, 4, 5, 6, 8]

In [10]:
marks.sort(reverse=True)
marks

[8, 6, 5, 4, 2]

In [11]:
all_data = [1,'2',4,'3']
all_data.sort()
all_data

TypeError: '<' not supported between instances of 'str' and 'int'

#### sort the list into descending order

In [20]:
marks = [1,'5',3,'6'] 
marks_out = []

for item in marks:
    marks_out.append(int(item))
marks_out.sort(reverse=True)

print(marks_out)

[6, 5, 3, 1]

# tuple
- tuple is a immutable data type in python
- it is represented by `(`

In [21]:
t = (1,2)
t2 = tuple((3,4))
print(t)
print(t2)
print(type(t),type(t2))

(1, 2)
(3, 4)
<class 'tuple'> <class 'tuple'>

### methods in tuple

In [22]:
t = (10,20,30,10)
t

(10, 20, 30, 10)

In [23]:
t.count(10)

2

In [24]:
t.count(9)

0

In [25]:
t[2]

30

In [26]:
t

(10, 20, 30, 10)

In [27]:
t.index(30)

2

In [28]:
t.index(100)

ValueError: tuple.index(x): x not in tuple

In [29]:
t[1] = 100

TypeError: 'tuple' object does not support item assignment

In [31]:
t

(10, 20, 30, 10)

In [30]:
min(t)

10

In [32]:
max(t)

30

In [33]:
sum(t)

70

In [34]:
t

(10, 20, 30, 10)

### sets
- set is a collection of unique items
- sets represented as `{`
- we can also create with set function

In [35]:
s = {10,20,30,40,10}
s

{10, 20, 30, 40}

In [36]:
s2 = set((1,2,3))
s2

{1, 2, 3}

In [37]:
s[0]

TypeError: 'set' object is not subscriptable

In [38]:
s[0:2]

TypeError: 'set' object is not subscriptable

In [39]:
s

{10, 20, 30, 40}

In [40]:
s.add(50)
s

{10, 20, 30, 40, 50}

In [41]:
len(s)

5

In [42]:
min(s)

10

In [43]:
max(s)

50

In [44]:
sum(s)

150

In [45]:
s1 = {1,2,3}
s2 = {2,3,4}

In [46]:
s1.union(s2)

{1, 2, 3, 4}

In [47]:
s1.intersection(s2)

{2, 3}

In [48]:
s1

{1, 2, 3}

In [49]:
s2

{2, 3, 4}

In [50]:
s1.remove(2)
s1

{1, 3}

In [51]:
s1.remove(100)
s1

KeyError: 100

In [52]:
s1

{1, 3}

In [53]:
s1.discard(1)
s1

{3}

In [54]:
s1.discard(100)
s1

{3}

### dictionaries
   is a collection of items.
   here we can specify our own keys/index and values
   
   it was mutable but dictionary keys are immutable

##### to create dictionary we use { key:value}
 or by using dict() function

In [55]:
student = {'name':'sairam','mobile':9848022338}
print(student)
print(type(student))

{'name': 'sairam', 'mobile': 9848022338}
<class 'dict'>

In [58]:
len(student)

2

#### dictionary[key]

In [59]:
student['name']

'sairam'

In [60]:
student['mobile']

9848022338

In [61]:
student['address']

KeyError: 'address'

##### update value

In [62]:
print(student['name'])

student['name'] = 'ram'

print(student)

sairam
{'name': 'ram', 'mobile': 9848022338}

#### remove the item

In [63]:
print(student)
del student['mobile']
print(student)

{'name': 'ram', 'mobile': 9848022338}
{'name': 'ram'}

In [64]:
del student
print(student)

NameError: name 'student' is not defined

In [65]:
student = {}
print(student)

{}

#### adding new item

In [67]:
student['rollnumber'] = 'CSE123'
student

{'rollnumber': 'CSE123'}

In [68]:
student['name'] = 'lakshmi'
print(student)

{'rollnumber': 'CSE123', 'name': 'lakshmi'}

In [69]:
min(student)

'name'

In [70]:
max(student)

'rollnumber'

#### methods in dictionary

##### get(key)
    return value related to key from dict

In [71]:
student

{'rollnumber': 'CSE123', 'name': 'lakshmi'}

In [72]:
student.get('name')

'lakshmi'

##### what happens if key not available?

In [74]:
print(student.get('address'))

None

In [75]:
student.get('address','INDIA')

'INDIA'

##### now how many items in student?

In [76]:
student

{'rollnumber': 'CSE123', 'name': 'lakshmi'}

#### setdefault(key,default_value)
    it update dictionary if the key not available 
    in dictionary by value as default_value

In [77]:
print(student)
student.setdefault('address','INDIA')
print(student)

{'rollnumber': 'CSE123', 'name': 'lakshmi'}
{'rollnumber': 'CSE123', 'name': 'lakshmi', 'address': 'INDIA'}

In [78]:
print(student)
student.setdefault('address','USA')
print(student)

{'rollnumber': 'CSE123', 'name': 'lakshmi', 'address': 'INDIA'}
{'rollnumber': 'CSE123', 'name': 'lakshmi', 'address': 'INDIA'}

##### keys()
    return all the keys from dictionary

In [79]:
student.keys()

dict_keys(['rollnumber', 'name', 'address'])

##### find the number of keys in dict

In [80]:
len(student.keys())

3

#### how to check the given key available or not?

In [81]:
'marks' in student

False

In [82]:
'marks' not in student

True

In [83]:
'marks' in student.keys()

False

#### values()
    to get all the values from dict

In [84]:
student.values()

dict_values(['CSE123', 'lakshmi', 'INDIA'])

In [87]:
# finding minimum value in dict
min(student.values())

'CSE123'

##### popitem()
    removes one item from dict

In [88]:
print(student)
student.popitem()
print(student)

{'rollnumber': 'CSE123', 'name': 'lakshmi', 'address': 'INDIA'}
{'rollnumber': 'CSE123', 'name': 'lakshmi'}

##### pop(key)
    removes the item related to the given key from 
    dict

In [89]:
print(student)
student.pop('name')
print(student)

{'rollnumber': 'CSE123', 'name': 'lakshmi'}
{'rollnumber': 'CSE123'}

In [94]:
student['language'] = ['telugu','english']
print(student)

{'rollnumber': 'CSE123', 'language': ['telugu', 'english']}

In [93]:

print(student['language'])

['telugu', 'english']

##### update(newDict)
    to update the dict from newDict

In [95]:
final_words = {'house':'home','mobile':984801234}
new_words = {'house':'a place to stay or live ',
             'adhar':'India identity'}

In [96]:
print(final_words)
final_words.update(new_words)
print(final_words)

{'house': 'home', 'mobile': 984801234}
{'house': 'a place to stay or live ', 'mobile': 984801234, 'adhar': 'India identity'}

##### create dictionary to find the frequency of the characters from the name

In [97]:
name = 'sairam'
freq = {}

for character in name:
    if character in freq:
        freq[character] = freq[character] + 1
    else:
        freq[character] = 1

print(freq)

{'s': 1, 'a': 2, 'i': 1, 'r': 1, 'm': 1}

## Functions

#### function syntax
def function_name(arg1,arg2...,argn):
    statements

#### predefined functions
- print
- len
- int
- float
- str
- bin

In [98]:
#### userdefined functions

In [100]:
def welcome(name):
    print("welcome",name)

In [101]:
welcome("Mahesh")

welcome Mahesh

In [102]:
def message(name1,name2):
    print('welcome',name1,'&',name2)
message('Ayyappa','Uma Mahesh')

welcome Ayyappa & Uma Mahesh

In [103]:
def get_value(value):
    return value

In [104]:
res = get_value(2)
print(res)

2

#### create a function it takes two values and return the sum of two values

In [105]:
def addition(num1,num2):
    return num1+num2

In [106]:
addition(10,30)

40

##### create a function to find given number prime or not

In [118]:
def isPrime(number):
    if number == 2:
        return True
    elif number > 2:
        for i in range(2,number):
            if number % i ==0:
                break
        else:
            return True
    return False

In [119]:
isPrime(15)

False

##### create a  list  it contains prime numbers between 1 to 100(inclusive) using previous/above prime function

##### Based on Arguments in function
    - Required argument function
    - Keyword argument functions
    - Default argument functions
    - Variable length argument functions

##### Required argument function
    in this we must pass all the required arguments while calling function

In [120]:
def addition(num1, num2):
    return num1+num2

In [121]:
addition(10)

TypeError: addition() missing 1 required positional argument: 'num2'

In [122]:
addition(10,20,30)

TypeError: addition() takes 2 positional arguments but 3 were given

#### keyword arguments functions

In [124]:
def addition(num1,num2):
    return num1+num2

In [125]:
addition(num2=10,num1=20)

30

#### default arguments

In [127]:
def addition(num1,num2=1):
    return num1+num2

In [128]:
addition(50)

51

In [129]:
addition(20,30)

50

#### variable length arguments functions

In [131]:
def addition(num1,num2,*var):
    return num1+num2+sum(var)

In [132]:
addition(10,20,30,40,50)

150

In [133]:
addition(10,20)

30

In [134]:
addition(20)

TypeError: addition() missing 1 required positional argument: 'num2'

### Anonymous functions

### syntax for anonymous function:
lambda arg1,arg2:expression

In [135]:
sq = lambda x:x*x

In [136]:
type(sq)

function

In [137]:
sq(10)

100

#### create anonymous function for additin of three numbers

In [138]:
addition = lambda a,b,c:a+b+c

In [139]:
addition(1,2,3)

6

#### map(function_name,sequence)

In [141]:
numbers = ['1','2','3','4']

In [142]:
#manually we are doing conversion
result = []
for number in numbers:
    result.append(int(number))
print(result)

[1, 2, 3, 4]

In [143]:
map(int,numbers)

In [145]:
# we need to use list for display the values instead of object address
list(map(int,numbers))

[1, 2, 3, 4]

In [146]:
numbers = [2,5,8,3,6]
list(  map(lambda x:x**3, numbers)  )

[8, 125, 512, 27, 216]

### filter
filter(function_name,collection)

In [149]:
s = "13A85A0504"
list( filter(str.isdigit,s) )

['1', '3', '8', '5', '0', '5', '0', '4']

In [150]:
fruits = ['apple','mango','banana','apple','mango']
list(filter(lambda x:x == 'apple'  , fruits))

['apple', 'apple']

### list and dictionary comprehension

### List comprehension
    it is one of a way to create list

##### 1 to 10 numbers list

In [151]:
L = [ num for num in range(1,11) ]
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [152]:
evens = [ num for num in range(1,11) if num%2==0]
evens

[2, 4, 6, 8, 10]

In [154]:
names = ['sairam','lakshmi','hanuman','ravi']

result=[name for name in names if name.endswith('i')]

print(result)

['lakshmi', 'ravi']

#### dictionary comprehension

##### create a dict contains 1 to 10 as keys and their squares as values

In [157]:
squares_dict = { key:key*key for key in range(1,11) }
squares_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

#### Regular expressions
to check the data is valid or not by our requirement

In [159]:
import re
# we are importing re modeule to work with regular expressions

#### re.search(string_pattern,string_data)

In [160]:
pattern = 'a'
name = 'sairam'
re.search(pattern,name)

In [162]:
pattern = 'ra'
name = 'sairam'
re.search(pattern,name)

In [163]:
re.match('sai','sairam')

In [165]:
print(re.match('ram','sairam'))

None

In [166]:
re.search('ram','sairam')

In [167]:
re.findall('a','sairam')

['a', 'a']

In [168]:
re.findall('z','sairam')

[]

#### special characters in regular expressins
- .(dot)
dot means it matches any single character

In [169]:
re.search('.','sairam')

In [170]:
re.search('.....','sairam')

In [171]:
re.search('.....','sai')

##### `^`
it matches startswith

In [172]:
re.search('^s','sairam')

In [173]:
re.search('^a','sairam')

#### `$`
it matches endswith

In [174]:
re.search('m$','sairam')

In [175]:
re.search('sm$','sairam')

###### `\d`
it matches any single digit

In [176]:
re.search('\d','g42jhk1')

## `[123]`
it needs either 1 or 2 or 3

In [177]:
re.search('[135]','abc351')

### {min,max}

In [179]:
re.search('......','sairamm')

In [180]:
re.search('^......$','sairam')

In [182]:
re.search('^......$','sairammmmm')

In [188]:
re.search('^.{3}$','aaa')

In [189]:
re.search('^.{3,5}$','aaa')

In [190]:
re.search('^.{3,5}$','aaab')

In [191]:
re.search('^.{3,5}$','aaabc')

#### *
it matches 0 or more

In [192]:
re.search('a','bbb')

In [193]:
re.search('a*','bbb')

In [194]:
re.search('a*','bbaaaaaab')

In [195]:
re.search('a*','aaaaaab')

#### `+` 
it matches 1 or more

In [198]:
re.search('a+','bbbaaabbaaac')